.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-contact .container {
  width: 100%;
  max-width: 1200px;

  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-contact .contact-form {
  display: flex;
  flex-direction: column;
}

.section-contact .contact-form h2 {
  font-size: 2rem;
  font-weight: 700;
}

.section-contact .contact-form p {
  color: #6b7280;
  font-size: 1rem;
  margin: 1rem 0;
}

.section-contact form {
  width: 100%;

  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.section-contact form input,
.section-contact form textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}

.section-contact form button {
  width: 50%;
  padding: 0.75rem;
  background-color: #1f2937;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}

.section-contact .contact-image {
  /* por algum motivo misterioso, se alterar a ordem destas props desconfigura tudo */
  background-image: url("/contact.png");
  /* background-image: url("https://plus.unsplash.com/premium_photo-1680266015910-9b454373e340?q=80&w=2791&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 400px;
  border-radius: 20px;
  /* porque a div tem imagem como background, precisa ter height definido explicitamente */
}

@media (min-width: 640px) {
  .contact-form h2 {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .contact-form h2 {
    font-size: 3rem;
  }
  .contact-form p {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  .contact-image {
    display: none;
  }
}
