/* FOOTER ---------------------------------------------------- FOOTER */
footer {
  background-color: black;
  color: #f5f5f5;

  display: flex;
  justify-content: center;
  margin-top: auto;
}

footer a {
  color: #f5f5f5;
}

footer .container {
  margin: 3rem 30px;
  max-width: 1200px;
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  gap: 50px;
}

footer .container .card {
  max-width: 200px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

footer .container .card:nth-child(1) {
  max-width: 400px;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

footer .container .card:nth-child(1) div {
  margin-bottom: 10px;
}

footer .container .card:nth-child(1) p {
  margin-bottom: 5px;
}

footer .container .card ul {
  line-height: 2;
}

footer .container .card:last-child li > svg {
  margin-right: 10px;
}

footer .container .card p {
  line-height: 1.25;
}

footer .container .card h2 {
  margin-bottom: 10px;
}

footer .container .contact li > svg {
  color: #ff9800;
}

footer .container .card:not(.contact) ul li {
  position: relative;
  transition: padding-left 0.3s ease;
}

footer .container .card ul li:not(.contact)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 3px;
  background-color: rgb(241, 196, 15);
  transition: width 0.3s ease;
}

footer .container .card ul li:not(.contact):hover::before {
  width: 10px; /* Largura da barrinha ao passar o mouse */
}

footer .container .card ul li:not(.contact):hover {
  padding-left: 15px; /* Move o texto para a direita ao passar o mouse */
}

.copyright {
  background-color: rgb(241, 196, 15);
  text-align: center;
  padding: 0.5rem;
}

.contactH2 {
  margin-top: 2rem;
}

.contact {
  margin-bottom: 2rem;
}

.followUsWrapper {
  gap: 1rem;
  display: flex;
  margin-top: 8px;
}

.instagram-icon,
.twitter-icon,
.facebook-icon,
.youtube-icon {
  transition: color 0.3s ease;
}
.instagram-icon:hover {
  color: #e1306c;
}
.twitter-icon:hover {
  color: #888888;
}
.facebook-icon:hover {
  color: #1877f2;
}
.youtube-icon:hover {
  color: #ff0000;
}

/* SOCIAL NETWORKS ---------------------------------------------------- SOCIAL NETWORKS */
.social-network {
  background-color: #ffcc80;

  display: flex;
  justify-content: center;
}

.social-network .container {
  padding: 2rem 0;
  font-size: 1.25rem;
  margin: 0 30px;
  max-width: 1200px;
  width: 100%;
  border-bottom: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

.social-network .container .icons {
  display: flex;
  font-size: 25px;
}

.social-network .container .icons li a {
  margin-left: 40px;
  color: #ff9800;
}
.social-network .container .icons li:nth-child(1) a:hover {
  color: #1877f2;
}
.social-network .container .icons li:nth-child(2) a:hover {
  color: black;
}
.social-network .container .icons li:nth-child(3) a:hover {
  color: #e4405f;
}
.social-network .container .icons li:nth-child(4) a:hover {
  color: #00c300;
}
